<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Pessoas</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    
</head>
<body>
    <div class="container">
        <h1 class="display-3">Sistema de cadastro de pessoas</h1>
        <hr />
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

