@{
    Layout = null;
}

<html>
<head>
    <title>CadastroPessoas</title>
    <link href="" rel="stylesheet" />
    <link href="~/Content/primeiro.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <p id="p1" class="vermelho" role="marquee">Paragrafo 1</p>
    <p id="p2" class="vermelho">Paragrafo 2</p>
    <p id="p3" class="amarelo">Paragrafo 3</p>
    <p id="p4" class="amarelo">Paragrafo 4</p>
    <script src="~/Scripts/funcoes.js"></script>
</body>
</html>