@{
    Layout = null;
}

<html>
<head>
    <title>CadastroPessoas</title>
    <link href="" rel="stylesheet" />
    
</head>

<body>
    <div id="marcas2"></div>
    <input type="text" id="marcaDesejada" />
    <button onclick="sortearEnquantoNaoSairToyota()">Sortear</button>
    <script src="~/Scripts/funcoes.js"></script>
</body>
</html>