@{
    Layout = null;
}

<html>
<head>
    <title>CadastroPessoas</title>
    <link href="" rel="stylesheet" />
    <script src="~/Scripts/funcoes.js"></script>
</head>

<body>
    <div>
        <label>Digite uma cor:</label><input type="text" id="cor" />
        <label>Meu time:</label><input type="text" id="time" />
    </div>
    <p id="texto">Meu texto que vai mudar de cor</p>
    <button onclick="aplicarCor()">Aplicar cor</button>
</body>
</html>